.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

.column {
  height: 95vh;
  width: calc(25% - 25px);
  display: flex;
  flex-direction: column;
  align-items: center;
  ;
}

.item {
  background: white;
  padding: 20px;
  display: flex;
  margin: 5px;
  width: 80%;
  display: flex;
  justify-content: center;
}

p {
  margin: 5px;
}

.backlog {
  background-color: #a491d3;
}

.todo {
  background-color: #818aa3;
}

.progress {
  background-color: #c5dca0;
}

.complete {
  background-color: #f5f2b8;
}